<header>
  <nav class="navbar">
    <a class="navbar-brand">
      <img (click)="goToProfile()" width="160" height="54" alt="Meetup Logo" src="assets\logomeetup.svg"
           class="d-inline-block align-top " alt="">
    </a>

    <div *ngIf="showLogout" ngbDropdown class="d-inline-block navbar-right pr-5">
      <button class="btn btn-default" id="dropdownBasic" ngbDropdownToggle>Welcome, {{login()}} </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic" class="">
        <button class="dropdown-item" routerLink="/{{ login() }}/profile">
          Profile
        </button>
        <button class="dropdown-item" routerLink="/{{ login() }}/friends">
          Friends
        </button>
        <button class="dropdown-item" routerLink="/{{ login() }}/folders">
          Folders
        </button>
        <button class="dropdown-item" routerLink="/{{ login() }}/calendar">
          Calendar
        </button>
        <button class="dropdown-item" routerLink="/{{ login() }}/wishes">
          Wish List
        </button>
        <button class="dropdown-item" (click)="logoutClick()">Logout</button>
      </div>
    </div>
  </nav>
</header>

<app-modal-window #modal class="sure-window">
  <div class="modal-header d-flex justify-content-between align-items-center">
    <h4 class="modal-title">Attention</h4>
    <img
      class="close-btn"
      src="assets/close.svg"
      (click)="modal.hide()"
      alt=""
      height="20px"
    />
  </div>
  <div class="app-modal-body">
    <p>Are you sure you want to logout?</p>
  </div>
  <div class="app-modal-footer">
    <button class="btn btn-primary" (click)="modal.hide(); logout()">
      Yes
    </button>
    <button class="btn btn-default" (click)="modal.hide()">Cancel</button>
  </div>
</app-modal-window>

<router-outlet></router-outlet>
